<h3>My Requests</h3>
<div><%= @my_requests.total_entries %> Requests</div>
<table class='table table-striped'>
<% @my_requests.each do |r| %>
<tr>
  <td><%= link_to r.title, prayer_request_path(r.id) %></td>
  <td><%= I18n.l ESTed(r.updated_at) %></td>
  <td><%= image_tag answered_image(r), width: '32px', alt: "PRAY!" %></td>
</tr> 
<% end %>
</table>
<%= will_paginate @my_requests, param_name: 'mr_page' %>
<script type="text/javascript">
  $(function() {
    $('.pagination a').attr('data-remote', 'true');
  });
</script>
