<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: 'form-horizontal', :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <div class="control-label"><%= f.label :email %></div>
    <div class="controls"><%= f.email_field :email, :autofocus => true %></div>
  </div>

  <div class="control-group">
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="controls">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  </div>

  <div class="control-group">
    <div class="control-label"><%= f.label :password %></div>
    <div class="controls"><%= f.password_field :password, :autocomplete => "off" %></div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= f.label :password_confirmation %></div>
    <div class="controls">
      <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= f.label :current_password %></div> 
    <div class="controls">
      <i>(we need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls"><%= f.submit "Update", class: "btn btn-large btn-primary" %></div>
  </div>
<% end %>

<h3>Cancel my account</h3>
<div class="form-horizontal">
  <div class="control-group">
    <div class="control-label"><p>Unhappy?</div>
    <div class="controls">
      <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-large btn-danger" %>
      <i>This will delete your accounts and also all of your prayer requests and updates.</i>
    </div>
  </div>
</div>
<form class="form-horizontal">
  <div class="control-group">
    <div class="controls">
      <%= link_to "Back", :back %>
    </div>
  </div>
</form>
