<%= form_for(@prayer_request, url: prayer_requests_path, html: {class: 'form-horizontal'}) do |f| %>
  <div class="control-group">
    <div class="control-label"><%= f.label :title %></div>
    <div class="controls"><%= f.text_field :title, :autofocus => true %></div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= f.label :request_text %></div>
    <div class="controls"><%= f.text_area :request_text %></div>
  </div>

  <div class="controls">
    <%= f.submit "Create", class: "btn btn-large btn-primary"%>
  </div>
<% end %>
