<h1>Answered Prayer Requests</h1>

<form>
  <textarea>
  <% @prayer_requests.each do |r| %>
<%= r.title %> on <%= I18n.l ESTed(r.updated_at) %>
<%= r.request_text %>
<%= '-'*50 %>
Last Update
<%= r.prayer_updates.last.body %>
<%= '='*50 %>
  <% end %>
  </textarea>
</form>
