<h1>Unanswered Prayer Requests</h1>

<form>
  <textarea>
  <% @prayer_requests.each do |r| %>
<%= r.title %> on <%= I18n.l ESTed(r.updated_at) %>
<%= r.request_text %>
<%= '-'*50 %>
<% unless r.prayer_updates.empty? %>
Last Update
<%= r.prayer_updates.last.body %>
<%= '='*50 %>
<% end %>
  <% end %>
  </textarea>
</form>

<p><%= link_to "get PDF", reports_unanswered_path(:format => 'pdf'), class: "btn btn-medium btn-primary" %></p>
