<header class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Prayer List", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>          
          <% if signed_in? %>
            <li><%= link_to "Prayer Requests", prayer_requests_path %></li>
            <li><%= link_to "Create Request", new_prayer_request_path%></li>
            <li><%= link_to "Profile", edit_user_registration_path%></li>
            <li class="dropdown">
              <%= link_to raw("Reports<i class='caret'></i>"), "#", class: 'dropdown-toggle', "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu">
                <li><%= link_to "Unanswered", reports_unanswered_path %></li>
                <li><%= link_to "Answered", reports_answered_path %></li>
              </ul>
            </li>
            <li><%= link_to "Sign out | (#{current_user.email})", destroy_user_session_path, method: "delete" %>
            </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
